@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
button {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    transition: all 0.15s linear;
    width: auto;
}

input[type="text"] {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    transition: all 0.15s linear;
    width: auto;
}

select {
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    transition: all 0.15s linear;
    width: auto;
}

p {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    transition: all 0.15s linear;
    width: auto;
}

div {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    transition: all 0.15s linear;
    width: auto;
}

.tutorial-list>li {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-left: 1rem;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    transition: all 0.15s linear;
    width: auto;
}